@charset "UTF-8";
/*!
 * 
 * 盛邦升华
 * 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  color: #687385;
  font-size: 16px;
  font-family: Arial; }

h2,
h6 {
  color: #2e3b4e; }

.container {
  width: 960px;
  width: 1200px;
  margin: auto; }

.container::after,
.row::after {
  display: table;
  clear: both;
  content: ""; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-6 {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-3 {
  width: 25%;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.text-center {
  text-align: center; }

header {
  background-color: #68bfec; }

header nav {
  display: flex;
  height: 72px;
  margin-bottom: 30px; }

header nav .container {
  display: flex; }

header nav .nav-left {
  flex: 2; }

header nav .nav-center {
  flex: 1;
  display: flex;
  justify-content: center; }

header nav .nav-right {
  flex: 2; }

header nav .nav-right a {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold; }

header nav .nav-center img {
  width: 33px;
  height: 33px; }

.user {
  display: none;
  background-image: url(../img/user.png);
  width: 16px;
  height: 20px; }

header .banner img {
  display: block; }

header .banner h1 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 200;
  line-height: 1.2em;
  margin-bottom: 30px; }

header .banner h2 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px; }

header .banner p a {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  padding: 15px 50px;
  background-color: #2996cc;
  display: inline-block;
  border-radius: 3px; }
  header .banner p a:hover {
    background-color: #1a6184; }

.list {
  padding: 60px 0; }

.list img {
  width: 80px;
  height: 80px; }

.list h6 {
  font-size: 16px; }

.list p {
  line-height: 1.5em; }

.download {
  border-top: 1px solid #e0e0e0;
  padding: 65px 0; }

.download h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 25px; }

.download p {
  margin-bottom: 35px; }

.download a {
  margin: 0 10px;
  display: inline-block; }

.download img {
  width: 135px;
  height: 40px;
  display: block; }

footer {
  background-color: #1b2126;
  color: #545f65; }

footer p {
  padding: 65px 0; }

@media (max-width: 1200px) {
  .container {
    width: 960px; } }

@media (max-width: 720px) {
  .container {
    width: 320px; }
  .col-3 {
    width: 100%; }
  .col-6 {
    width: 100%; }
  header .banner {
    text-align: center; }
    header .banner h2 {
      font-size: 14px; }
    header .banner h1 {
      font-size: 30px; }
    header .banner p {
      margin-bottom: 30px; }
    header .banner img {
      width: 300px; }
  header nav .nav-right a {
    font-size: 0; }
  .user {
    display: block; } }
