.warper{
    width:600px;
    margin: 50px auto;
    background-color: aquamarine;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    font-family:黑体;
    float: left;
    width: 200px;
    height: 20px;
    font-size:12px;
    text-align: center;
}
.showMore a{
    display: block;
    width:200px;
    height:20px;
    font-size: 12px;
    margin: auto;
    line-height: 20px;
    text-align: center;
    border:1px solid #cccccc;
    clear: both;
}
a{
    text-decoration: none;
}